﻿
html, body {
    height: 100vh;
    margin: 0;
}

.body-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    margin-top: auto;
}
